// colors
$orange: #F56935;
$color-black: #1f335e;
$color-grey-light: #eff3f6;
$white: #FFF;
$dark-gray50: #959292;
$lighest-gray: #EEEEEE;
$dark-red: #BB141A;
$dark-almost-purple: #5073A5;
$almost-white: #F7F7F7;
$dark-gray67: #6D6A6A;
$black: #000;

// font sizes
$biggest-size: 30px;
$bigger-size: 20px;
$normal-size: 18px;
$medium-size: 16px;
$small-size: 14px;
$smallest-size: 12px;

